* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(230, 227, 227);
}

.trybewarts-login {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.email {
  margin-right: 10px;
  padding: 15px;
  border-radius: 20px;
}

.password {
  margin-right: 10px;
  padding: 15px;
  border-radius: 20px;
}

.entry {
  width: 100px;
  color: white;
  background-color: blueviolet;
  margin-right: 10px;
  padding: 15px;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  margin-bottom: 100px;
}

.trybewarts-header-logo {
  width: 100px;
}

main {
  display: flex;
  margin-left: 100px;
  justify-content: space-around;
}

.show {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

#evaluation-form {
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 20px;
  width: 300px;
}

#line1 {
  display: flex;
  justify-content: space-between;
}

#line2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#line1 input {
  border: 0;
  width: 45%;
  padding: 15px;
  border-radius: 20px;
}

#line2 input {
  width: 50%;
  padding: 15px;
  border-radius: 20px;
}

#line2 select {
  width: 250px;
  padding: 15px;
  border-radius: 20px;
}

#botoes {
  display: flex;
}

#q1 {
  flex-basis: 27%;
}

#q2 {
  margin-left: 70px;
}

#comentario {
  display: flex;
  flex-wrap: wrap;
}

#textarea {
  width: 100%;
  border-radius: 5px;
  border: 2px solid blueviolet;
}

#submit-btn {
  width: 100%;
  padding: 10px;
  background-color: blueviolet;
  color: white;
  border-radius: 10px;
}

#avalia {
  display: flex;
  justify-content: space-between;
}

#house {
  border: 0;
  background-color: white;
}

#input-email {
  border: 0;
}

footer {
  margin-left: 100px;
  text-align: center;
}

