* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(184, 182, 182);
}

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.email {
  margin-right: 10px;
  padding: 15px;
  border-radius: 20px;
}

.password {
  margin-right: 10px;
  padding: 15px;
  border-radius: 20px;
}

.entry {
  width: 100px;
  color: white;
  background-color: blueviolet;
  margin-right: 10px;
  padding: 15px;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  margin-bottom: 100px;
}

.trybewarts-header-logo {
  width: 100px;
}

main {
  display: flex;
  margin-left: 100px;
}

form {
  display: flex;
  box-sizing: border-box;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 250px;
}

#line1 input {
  padding: 15px;
  border-radius: 20px;
}

#line2 input {
  padding: 15px;
  border-radius: 20px;
}

#line2 select {
  padding: 15px;
  border-radius: 20px;
}

#botoes {
  display: flex;
}
